<div class="row">
<div class="col-md-1"></div>
<div class="col-md-4">
  <br> <br><br>
  <div class="card card-user">

    <div class="content">
      <div class="author">
        <a>
          <img class="avatar border-gray" src="assets/img/faces/vivek.jpg" alt="..." />

          <h4 class="title">Vivek Chandra Sheel<br />
            <small>viveksheel96@gmail.com</small>
          </h4>
          <br><br>
        </a>
        <p class="text-muted">
            <small>1MS15CS143</small><br>
          Computer Science and Engineering
        </p>
        <p>Ramaiah Institute of Technology, Bangalore</p>

      </div>

    </div>
    <hr>
    <div class="text-center">
      <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
      <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
      <button href="#" class="btn btn-simple"><i class="fa fa-instagram"></i></button>

    </div>
  </div>
</div>
<div class="col-md-1"></div>

<div class="col-md-4">
    <br> <br><br>
    <div class="card card-user">
  
      <div class="content">
        <div class="author">
          <a>
            <img class="avatar border-gray" src="assets/img/faces/venkat.png" alt="..." />
  
            <h4 class="title">Venkat Krishnamohan<br />
              <small>venkat201097@gmail.com </small>
            </h4>
            <br><br>
          </a>
          <p class="text-muted">
              <small>1MS15CS139</small><br>
            Computer Science and Engineering
          </p>
          <p>Ramaiah Institute of Technology, Bangalore</p>
  
        </div>
  
      </div>
      <hr>
      <div class="text-center">
        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
        <button href="#" class="btn btn-simple"><i class="fa fa-instagram"></i></button>
  
      </div>
    </div>
  </div>

</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <br> <br>
      <div class="card card-user">
    
        <div class="content">
          <div class="author">
            <a>
              <img class="avatar border-gray" src="assets/img/faces/deepak.jpg" alt="..." />
    
              <h4 class="title">Deepak Rajendran<br />
                <small>deepak.rajendran123@gmail.com</small>
              </h4>
              <br><br>
            </a>
            <p class="text-muted">
                <small>1MS15CS095</small><br>
              Computer Science and Engineering
            </p>
            <p>Ramaiah Institute of Technology, Bangalore</p>
    
          </div>
    
        </div>
        <hr>
        <div class="text-center">
          <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
          <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
          <button href="#" class="btn btn-simple"><i class="fa fa-instagram"></i></button>
    
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    
    <div class="col-md-4">
        <br> <br>
        <div class="card card-user">
      
          <div class="content">
            <div class="author">
              <a>
                <img class="avatar border-gray" src="assets/img/faces/prashant.png" alt="..." />
      
                <h4 class="title">Prashant Krishnan<br />
                  <small>gillyprash29@gmail.com</small>
                </h4>
                <br><br>
              </a>
              <p class="text-muted">
                  <small>1MS15CS091</small><br>
                Computer Science and Engineering
              </p>
              <p>Ramaiah Institute of Technology, Bangalore</p>
      
            </div>
      
          </div>
          <hr>
          <div class="text-center">
            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-instagram"></i></button>
      
          </div>
        </div>
      </div>
    
    </div>
    