<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

  <!--

      Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
      Tip 2: you can also add an image using data-image tag

  -->

    <div class="sidebar-wrapper">
          <div class="logo">
              <a  class="simple-text">
                  Music <br>Generation
              </a>
          </div>

          <ul class="nav">
              <li routerLinkActive="active">
                  <a routerLink="/dashboard" >
                      <i class="pe-7s-graph"></i>
                      <p>Dashboard</p>
                  </a>
              </li>
              
              <li routerLinkActive="active">
                  <a routerLink="/about">
                      <i class="pe-7s-note2"></i>
                      <p>About</p>
                  </a>
              </li>
              
              <li routerLinkActive="active">
                  <a routerLink="/samples">
                      <i class="pe-7s-science"></i>
                      <p>Samples</p>
                  </a>
              </li>     
              
              <li routerLinkActive="active">
                    <a routerLink="/contributer" >
                        <i class="pe-7s-user"></i>
                        <p>Contributers</p>
                    </a>
                </li>
      
          </ul>
    </div>
  </div>